body {
    font-family: Arial, serif;
    text-align: center;
    background: url("img/whack-a-mando-bg.jpg");
    background-size: cover;
}

#board {
    width: 600px;
    height: 600px;
    background-color: #F0E7D8;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

#board div {
    margin: 0 auto;
    align-self: center;
    width: 180px;
    height: 180px;
}

#board div img {
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.bg-card-title {
    width: auto;
    height: 100px;
    margin-bottom: auto;
    padding: 1em;
    background-color: #F0E7D8;
    border: solid 2px lightgrey;
    border-radius: 25px;
    align-items: center;
}

.center-card{
    display: flex;
    justify-content: center;
}